@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* bloqueia scroll horizontal */

}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #333;
    font-weight: 300;
    padding: 0;
}


body {
    background-color: white;
}



#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('https://t3.ftcdn.net/jpg/02/56/17/92/360_F_256179223_FDWWNhqs8afJPs2W0iUUptiFXte4K8gP.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

h1 {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: white;
    opacity: 0.6;
}

#describe-h1 {
    font-size: 1rem;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    color: #ffbe34;
    opacity: 0.6;
}

#yellow-div {
    background-color: #ffbe34;
    width: 100%;
    height: 4px;
    margin-bottom: 30px;
}

#select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffbe34;
    margin: 0 auto 40px;
    max-width: 80%;
}

#day-select {
    margin-bottom: 15px;
    font-weight: bold;
}

h2 {
    color: white;
    background-color: #ff526e;
    text-align: center;
    max-width: fit-content;
    margin: 20px auto 10px auto;
    padding: 10px;
    border-radius: 15px;
}

h3 {
    text-align: center;
    color: #ff526e;
    text-decoration: solid;
    margin: 0 5px 10px 5px;
    font-weight: 400;
}

h4 {
    text-align: center;
    font-weight: 500;
}


ul {
    list-style-position: outside;
    text-align: left;
    margin: 10px auto;
    display: table; /* força centralização da caixa como um bloco */
}

#ul-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#day-list {
    display: flex;
    flex-wrap: wrap; /* permite que quebre em mais de uma linha de forma fluida */
    justify-content: center;
    gap: 2px; /* espaçamento entre os itens */
    padding: 0;
}

.item-select {
    display: inline;
    margin: 10px 10px;
    list-style-type: none;
}

.item-select a:hover {
  text-decoration: underline;
  color: #e60045;
}

p {
    text-align: center;
    margin: 5px;
    font-size: 0.9rem;
}

hr {
    margin: 30px 0;
    border: 10px solid black;
}

.div-alongamentos {
    border: 0.5px dotted gray;
    width: 88%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    max-block-size: 80%;
    text-align: center;
}

.div-aquecimento {
    border: 0.5px dotted gray;
    width: 88%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    max-block-size: 80%;
    text-align: center;
}

.img-alongamentos {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    border: 0.5px solid #ffbe34;
}

section[id]::before {
  content: "";
  display: block;
  height: 2px;       /* esse espaço extra */
  margin-top: -2px;  /* “puxa” a seção pra baixo */
  visibility: hidden;
}


.div-alongamentos-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
}

span {
    font-weight: bold;
}

.exercises {
    text-align: center;
    margin: auto 10px;
    background-color: whitesmoke;
    border: dotted white 0.5px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.hiit {
    text-align: center;
    margin: auto 10px;
    background-color: rgb(218, 218, 218);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.p-exercises {
    font-size: 0.9rem;
}

#repeat {
    background-color: whitesmoke;
    padding: 5px 40px;
    border-radius: 3px;
    max-width: fit-content;
    margin: 0 auto;
}

.pre-pos {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: white;
}

#desenvolvido {
    font-weight: bold;
    color: white;
}

#yellow-div-footer {
    background-color: #ffbe34;
    width: 100%;
    height: 4px;
    margin: 50px 0 0; 
}

footer p {
    color: whitesmoke;
}
